<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Axionic" >
        <classes>
            <class name="TestCases.ChangePassword">
                <methods>
                    <include name="ChangePassword"/>

                </methods>
            </class>


        </classes>
    </test>
</suite>